<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Add</title>
</head>
<body>
    <div class="container">
        <div class="row text-center">
            <h1>Add Device</h1>

            <form action="/create" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name">
                </div>

                <div class="form-group">
                    <label for="sn">Serial Number</label>
                    <input type="text" class="form-control" name="sn">
                </div>

                <button class="btn btn-sm btn-primary">Create New Device</button>
            </form>
        </div>
    </div>
</body>
</html>